[access]
	inheritFrom = All-Projects
[project]
	description = default
[access "refs/*"]
	owner = group user/premanandasahoomitraz
[access "refs/for/refs/*"]
	read = group user/premanandasahoomitraz
	push = group user/premanandasahoomitraz
	label-Code-Review = -2..+2 group user/premanandasahoomitraz
	label-Verified = -1..+1 group user/premanandasahoomitraz
	rebase = group user/premanandasahoomitraz
	removeReviewer = group user/premanandasahoomitraz
	submit = group user/premanandasahoomitraz
[access "refs/heads/*"]
	read = group user/premanandasahoomitraz
	create = group user/premanandasahoomitraz
	push = +force group user/premanandasahoomitraz
	pushMerge = group user/premanandasahoomitraz
[access "refs/tags/*"]
	push = group user/premanandasahoomitraz
	push = +force group user/premanandasahoomitraz
